@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.nav-link{
  @apply px-2 py-1 text-
} */

.postImage{
  width: 468px;
  height: 468px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.postCard{
  width: 468px;
}

body section:last-of-type{
  margin-left: 16.666667%;
}

body{
  min-width: 388px !important;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}